<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo & Title -->
      <div class="w-12"><img src="../../../../assets/images/logo/logo.png"></div>
      <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Login</div>
      <div class="flex items-baseline mt-0.5 font-medium">
        <div>Don't have an account?</div>
        <a
          class="ml-1 text-primary-500 hover:underline"
          [routerLink]="['/register']">Register!</a>
      </div>
      <!-- LOGIN FORM -->
      <form>
        <div class="mb-3">
          <label for="InputUsername" class="form-label">Username</label>
          <input type="email" class="form-control" id="InputUsername" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <button class="w-full mt-6" mat-flat-button color="primary">Login</button>
        <div class="flex items-center mt-8">
          <div class="flex-auto mt-px border-t"></div>
          <div class="mx-2 text-secondary">OR</div>
          <div class="flex-auto mt-px border-t"></div>
        </div>
        <div class="flex items-center mt-8 space-x-4">
          <button class="flex-auto" type="button" mat-stroked-button>
            <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
          </button>
          <button class="flex-auto" type="button" mat-stroked-button>
            <mat-icon class="icon-size-5" [svgIcon]="'feather:twitter'"></mat-icon>
          </button>
          <button class="flex-auto" type="button" mat-stroked-button>
            <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

