/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
html { position: relative; min-height: 100%;  //overflow: scroll; //overflow-x: hidden;
  ::-webkit-scrollbar { width: 0; background: transparent; }
  body { position: relative; min-height: 100%; background-color: #94A3B8; }
}
